* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    height: 100vh;
}

.container-gral {
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
}

/*CAIXA 1 i 2*/


.container-gral .caixa1, 
.container-gral .caixa2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.container-gral .caixa1 {
    background-color: none;
    justify-content:space-between;
    height: 7%;
}

.container-gral .caixa2 {
    border-top-width: 2px;
    margin-bottom: 1%;
    justify-content: center;
    height: 20vh;
}

/*ELEMENTS CAIXA1*/


/*LOGO*/

.logo-container {
    width: 3%;
    object-fit: cover;
    margin-left: 7%;
}

.logo-container .logo {
    width: 100%;
    height: 100%;
}

/*BARRA DE NAVEGACIÓ*/

.nav {
    width: 35%;
    height: 25%;
    display: flex;
    flex-direction: row;
    margin-right: 25%;
    margin-bottom: 1%;
}

.nav-cont {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav-cont .nav-icon {
    width: 15%;
}


.nav-cont .nav-txt {
    font-size: 70%;
    margin-left: 8%;
}

/*XARXES*/

.xarxes-cont {
    width: fit-content;
    justify-content: space-evenly;
    display: flex;
}

.xarxes-cont .iconsX-cont {
    width:5%;
}


.xarxes-cont .icons-x {
    width: 100%;
    text-align: center;
}



/*ELEMENTS CAIXA2*/

.capçalera {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capçalera .capImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 63%;     
}

.capçalera .slogan {
    position: absolute;
    font-size: 1vw;
    margin-top: 2%;
    color: rgba(178, 190, 195,0.5);
}
/*CONTENIDOR CAIXA 3 i 4
A diferència de les altres caixes aquestas 2 tenen un contenidor*/


.cont3i4 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

/*CAIXA 3 I 4*/

.cont3i4 .caixa3, .caixa4 {
    height: 100%;
    display: flex;
}
/*CAIXA 3*/
 
.cont3i4 .caixa3 {
    width: 100%;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-content:space-between;
    background-color: #e6e7e7;
    align-items: baseline;
}

/*ELEMENTS CAIXA 3*/

.caixa3 .artLeft1, 
.caixa3 .artRight1,
.caixa3 .artLeft2,
.caixa3 .artRight2 {
    width: 49%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 1px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    position: relative;
}

.caixa3 .artLeft1-img, 
.caixa3 .artRight1-img,
.caixa3 .artLeft2-img,
.caixa3 .artRight2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.caixa3 .artRight1,
.caixa3 .artRight2 {
    justify-items: right;
}

.caixa3 .artLeft1,
.caixa3 .artLeft2 {
    justify-items: left;
}

.caixa3 .text-img {
    position: absolute;
    color: white;
    bottom: 2%;
    left: 0px;
}

.caixa3 .titulo-img {
    color: white;
    background-color: #a42a2b;
    font-size: 1.3vh;
}

.caixa3 .artSol {
    width: 94%;
    height: 10%;
    background-color: #71a2c4;
}

.text-art {
    font-size: 1.5vh;
}

/*CAIXA 4*/

.cont3i4 .caixa4 {
    width: 30%;
    border-left-width: 0px;
    background-color: #e6e7e7;
    flex-direction: column;
    justify-content: flex-start;
}



/*ELEMENTS CAIXA 4*/

.caixa4 .artLat1, .artLat2 {
    width: 85%;
    height: 10%;
    background-color: white;    
}

.caixa4 .artLat1 {
    margin: 7% 0% 3% 0%;
}


/*CAIXA 5*/

.caixa5 {
    width: 100%;
    height: 6%;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    background-color: #e7af2f;
}

/*TAULETA*/

@media (max-width: 1024px) {
    
    .container-gral {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .container-gral .caixa2 {
        margin-bottom: 4%;
    }
    
    .cont3i4 .caixa3, 
    .cont3i4 .caixa4{
        border-color: yellow;
        width: 100%;
    }

    .cont3i4 .caixa4 .artLat1,
    .cont3i4 .caixa4 .artLat2{
        width: 95%;
        height: 20%;
    }

    .cont3i4 .caixa4{
        border-left-width: 15px;
        border-top-width: 0px;
        justify-content: center;
        align-content: center;
        height: 50%;
    }
    .cont3i4 {
        flex-direction: column;
        margin-bottom: 4%;
    }

    .caixa4 .artLat1 {
        margin: 0% 0% 2% 0%;
    }
}


/*MÒBIL*/

@media (max-width: 500px) {
    
    .container-gral {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .container-gral .caixa1 {
        border-bottom-width: 6px;
        background-color: #2d4158;
        justify-content:space-around;
    }
    
    .container-gral .caixa2 {
        margin-bottom: 10%;
    }
    
    .container-gral .caixa1, 
    .container-gral .caixa2 {
    height: 10%;
    border-width: 10px;
    }

    .caixa1 .box1, .box2, .box3 {
        height: 35%;
    }

    .caixa1 .box2 {
        width: 40%;
    }

    .box1-2 {
        width: 85%;
    }

    .cont3i4 {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .cont3i4 .caixa3,
    .cont3i4 .caixa4 {
        border-color: yellow;
        width: 100%;
    }

    .cont3i4 .caixa4 .artLat1,
    .cont3i4 .caixa4 .artLat2{
        width: 95%;
        height: 20%;
    }

    .cont3i4 .caixa4{
        border-left-width: 15px;
        border-top-width: 0px;
        justify-content: center;
        align-content: center;
        height: 50%;
    }
    

    .caixa4 .artLat1 {
        margin: 0% 0% 2% 0%;
    }
}